<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='categorias/categorias.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <h1>Categorias</h1>
    <a href="/categorias/criar"><span class="material-symbols-outlined">library_add</span></a>
    <main>
        {% for categoria in categorias %}
            <div class="categoria">
                <h1>{{ categoria }}</h1>
                    <a href="/categorias/confirmar/{{ loop.index0 }}"><span class="material-symbols-outlined">delete</span></a>
            </div>
        {% endfor %}

    </main>
    <footer>
        <a href="/categorias" class="ativo"><span class="material-symbols-outlined">category</span>Categorias</a>
        <a href="/produtos?search=&categoria=todas"><span class="material-symbols-outlined">inventory_2</span>Produtos</a>
        <a href=""><span class="material-symbols-outlined">list_alt</span>Estoque</a>
        <a href=""><span class="material-symbols-outlined">checklist</span>Relatórios</a>
        <a href=""><span class="material-symbols-outlined">manufacturing</span>Config</a>
    </footer>
</body>
</html>