<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Categoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms/forms.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Criar Nova Categoria</h1>
        <p>Escolha um nome para a nova categoria</p>
        <form action="/categorias/salvar" method="get">
            <div class="campo">
                <label for="nome"><span class="material-symbols-outlined">category</span></label>
                <input type="text" id="nome" name="nome" required placeholder="nome">
            </div>

            <button type="submit">Criar</button>
        </form>
    </main>
</body>
</html>