<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Bem Vindo {{ nome }}</h1>
        <p>Use o menu para navegar pelo sistema</p>
    </main>
    <footer>
        <a href="/categorias"><span class="material-symbols-outlined">category</span>Categorias</a>
        <a href="/produtos?search=&categoria=todas"><span class="material-symbols-outlined">inventory_2</span>Produtos</a>
        <a href="/estoque?search=&categoria=todas"><span class="material-symbols-outlined">list_alt</span>Estoque</a>
        <a href="/relatorios"><span class="material-symbols-outlined">checklist</span>Relatórios</a>
        <a href=""><span class="material-symbols-outlined">manufacturing</span>Config</a>
    </footer>
</body>
</html>