<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Nome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms/forms.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Qual o Seu Nome?</h1>
        <p>Parece que é a primeira vez que acessa o sistema, informe seu nome para continuar</p>
        <form action="/login/cad_nome" method="get">
            <div class="campo">
                <label for="nome"><span class="material-symbols-outlined">face</span></label>
                <input type="text" id="nome" name="nome" required placeholder="Seu Nome">
            </div>

            <button type="submit">Entrar</button>
        </form>
    </main>
</body>
</html>