<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='produtos/produtos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <h1>Produtos</h1>
    <a href="/produtos/criar"><span class="material-symbols-outlined">library_add</span></a>
    <div id="form">
        <form action="/produtos" method="GET">
            <input type="text" placeholder="Pesquisar por código..." name="search">
            <select name="categoria">
                <option value="todas" selected>Todas</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filtrar</button>
        </form>
    </div>
    <main>
        {% for produto in produtos %}
            <div class="produto">
                <div class="esquerda">
                    <p>{{ produto['nome'] }}</p>
                    <p>{{ produto['categoria'] }}</p>
                    <p>R$ {{ "%.2f"|format(produto['preco']) }}</p>
                    <p>Código: {{ produto['codigo'] }}</p>
                </div>
                <div class="direita">
                    <a href="/produtos/editar/{{ produto['codigo'] }}"><span class="material-symbols-outlined">edit</span></a>
                    <a href="/produtos/confirmar/{{ produto['codigo'] }}"><span class="material-symbols-outlined">delete</span></a>
                </div>
            </div>
        {% endfor %}
    </main>
    <footer>
        <a href="/categorias"><span class="material-symbols-outlined">category</span>Categorias</a>
        <a href="#"><span class="material-symbols-outlined">inventory_2</span>Produtos</a>
        <a href=""><span class="material-symbols-outlined">list_alt</span>Estoque</a>
        <a href=""><span class="material-symbols-outlined">checklist</span>Relatórios</a>
    </footer>
</body>
</html>