<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='produtos/produtos_confirmar.css') }}">
</head>
<body>
    <main>
        <h1>Deseja Excluir</h1>
        <h2>{{ nome }}</h2>
        <a href="/produtos/excluir/{{ codigo }}" id="sim">Sim</a>
        <a href="/produtos?search=&categoria=todas" id="nao">Não</a>
    </main>
</body>
</html>